<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Continuous Integration, Continuous Delivery, Code Review — как разрабатывать быстрее, обучать команду эффективнее, собирать качественный фидбек, и спокойно спать по ночам.</title>

  <%= require('html-loader!../header-scripts.html') %>

</head>

<body id="page-top">

<%= require('html-loader!../header.html') %>

<%= require('html-loader!../landing-intro.html') %>

<div class="container">
    <div class="row">
        <div>
            <h2 class="header-with-margin">Continuous Integration, Continuous Delivery, Code Review — как разрабатывать быстрее, обучать команду эффективнее, собирать качественный фидбек, и спокойно спать по ночам.</h2>
            В докладе будут упомянуты конкретные программные продукты для организации CI/CD и code review, но это не доклад о том, как настроить TeamCity — в основном, речь пойдет о культуре и организации процессов разработки.

            <a href="/content/2017/Yappidays-1.pdf">Презентация</a>

            <iframe width="854" height="480" src="https://www.youtube.com/embed/1XWagXt6X7A?list=PLeFHunlHlzsLBlLwwoRtSZjPh8n0a8TG1" frameborder="0" gesture="media" allowfullscreen></iframe>
        </div>
    </div>
</div>

<%= require('html-loader!../footer.html') %>

<%= require('html-loader!../footer-scripts.html') %>

</body>

</html>
