.panel-group {width: 100%;}

.panel-heading { font-size: 30px;}

.panel-body {
    position: relative;
    height:140px;
    font-size: 24px;
}

img {
    position: absolute;
    right: 2px;
    top: 15px;
    height: 100px;
    width: 100px;
}
