<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Конференция разработчиков YappiDays</title>

    <%= require('html-loader!./header-scripts.html') %>

  </head>

  <body id="page-top">

  <%= require('html-loader!./header.html') %>

  <%= require('html-loader!./landing-intro.html') %>

  <%= require('html-loader!./landing-about-conf.html') %>

  <%= require('html-loader!./landing-speakers.html') %>

  <%= require('html-loader!./landing-schedule.html') %>

  <%= require('html-loader!./landing-register.html') %>

  <%= require('html-loader!./landing-map.html') %>

  <%= require('html-loader!./landing-sponsors.html') %>

  <%= require('html-loader!./footer.html') %>

  <!-- Portfolio Modals -->

  <%= require('html-loader!./landing-speakers/speaker-1.html') %>
  <%= require('html-loader!./landing-speakers/speaker-2.html') %>
  <%= require('html-loader!./landing-speakers/speaker-3.html') %>
  <%= require('html-loader!./landing-speakers/speaker-4.html') %>
  <%= require('html-loader!./landing-speakers/speaker-5.html') %>
  <%= require('html-loader!./landing-speakers/speaker-6.html') %>
  <%= require('html-loader!./landing-speakers/speaker-7.html') %>
  <%= require('html-loader!./landing-speakers/speaker-8.html') %>
  <%= require('html-loader!./landing-speakers/speaker-bichuk.html') %>
  <%= require('html-loader!./landing-speakers/speaker-serbul.html') %>
  <%= require('html-loader!./landing-speakers/speaker-borovikov.html') %>
  <%= require('html-loader!./landing-speakers/speaker-mazulnitsyn.html') %>
  <%= require('html-loader!./landing-speakers/speaker-surkov.html') %>
  <%= require('html-loader!./landing-speakers/speaker-kopylov.html') %>
  <%= require('html-loader!./landing-speakers/speaker-ilmov.html') %>
  <%= require('html-loader!./landing-speakers/speaker-zhukov.html') %>
  <%= require('html-loader!./landing-speakers/speaker-kabischev.html') %>
  <%= require('html-loader!./landing-speakers/speaker-evteev.html') %>
  <%= require('html-loader!./landing-speakers/speaker-nadir.html') %>
  <%= require('html-loader!./landing-speakers/speaker-lobanov.html') %>


  <%= require('html-loader!./footer-scripts.html') %>

  </body>

</html>
