<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Developer conference YappiDays</title>

    <%= require('html-loader!./header-scripts.html') %>

  </head>

  <body id="page-top">

  <%= require('html-loader!./header-en.html') %>

  <%= require('html-loader!./landing-en-intro.html') %>

  <%= require('html-loader!./landing-en-about-conf.html') %>

  <%= require('html-loader!./landing-en-cfp.html') %>

  <%= require('html-loader!./landing-en-about-city.html') %>

  <%= require('html-loader!./landing-en-speakers.html') %>

  <%= require('html-loader!./landing-en-sponsors.html') %>

  <%= require('html-loader!./footer-en.html') %>

  <%= require('html-loader!./landing-speakers/speaker-1.html') %>
  <%= require('html-loader!./landing-speakers/speaker-2.html') %>
  <%= require('html-loader!./landing-speakers/speaker-3.html') %>
  <%= require('html-loader!./landing-speakers/speaker-4.html') %>
  <%= require('html-loader!./landing-speakers/speaker-5.html') %>
  <%= require('html-loader!./landing-speakers/speaker-6.html') %>
  <%= require('html-loader!./landing-speakers/speaker-7.html') %>
  <%= require('html-loader!./landing-speakers/speaker-8.html') %>

  <%= require('html-loader!./footer-scripts.html') %>

    <div id="ytWidget"></div>
    <script
      src="https://translate.yandex.net/website-widget/v1/widget.js?widgetId=ytWidget&pageLang=ru&widgetTheme=light&autoMode=false"
      type="text/javascript">
    </script>

  </body>

</html>
