<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Доклады конференции YappiDays'18</title>

    <%= require('html-loader!./header-scripts.html') %>

  </head>

  <body id="page-top">

  <%= require('html-loader!./header.html') %>

  <%= require('html-loader!./talks-landing-intro.html') %>

  <%= require('html-loader!./talks-text.html') %>

  <%= require('html-loader!./landing-map.html') %>

  <%= require('html-loader!./footer.html') %>

  <%= require('html-loader!./footer-scripts.html') %>

  <script src="./js/talksLabelsResize.js"></script>

  </body>

</html>
