<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Экспресс курс Алексея Рагозина - Профилирование Java приложений</title>

    <%= require('html-loader!./header-scripts.html') %>

  </head>

  <body id="page-top">

  <%= require('html-loader!./training-ml-header.html') %>

  <%= require('html-loader!./training-perf-landing-intro.html') %>

  <%= require('html-loader!./training-perf-text.html') %>

  <%= require('html-loader!./training-ml-landing-map.html') %>

  <%= require('html-loader!./footer.html') %>

  <%= require('html-loader!./footer-scripts.html') %>

  </body>

</html>
