<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Конференция разработчиков YappiDays</title>

  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/nav-bar.css">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/themes.css">
  <link rel="stylesheet" href="css/grid.css">
</head>
<body>

<%= require('html-loader!./../templates/nav-bar.html') %>

<%= require('html-loader!./../templates/header.html') %>

<%= require('html-loader!./../templates/themes.html') %>

</body>
</html>
