// Styling for the masthead
header.masthead {
  text-align: center;
  color: white;
  background-image: url('../assets/header/header.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  @include background-cover;
  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    .intro-lead-in {
      font-size: 20px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      @include heading-font;
    }
    .intro-heading {
      font-size: 32px;
      font-weight: 500;
      line-height: 50px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
}
@media(min-width:768px) {
  header.masthead {
    .intro-text {
      padding-top: 300px;
      padding-bottom: 200px;
      .intro-lead-in {
        font-size: 34px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        @include heading-font;
      }
      .intro-heading {
        font-size: 42px;
        font-weight: 500;
        line-height: 55px;
        margin-bottom: 50px;
        @include heading-font;
      }
    }
  }
}

header.masthead-short {
  background-position: top !important;
  .intro-text {
    padding-top: 150px !important;
    padding-bottom: 100px !important;
  }

}
