.schedule {
  @media only screen and (max-width: 768px) {
    padding: 0 7px;
  }

  &-row {
    @media only screen and (max-width: 768px) {
      flex-flow: column nowrap;
    }

    display: flex;
  }

  &-legend {
    @media only screen and (max-width: 768px) {
      display: block;
      color: rgba(0, 0, 0, 0.60);
    }

    display: none;
  }

  &-header {
    @media only screen and (max-width: 768px) {
      display: none;
    }
    background-color: #fed136;

    font-weight: 700;
  }

  &-break {
    @media only screen and (max-width: 768px) {
      background-color: #fed136;
    }

    @media only screen and (min-width: 769px) {
      background-color: #fed13675;
    }
  }

  &-time {
    @media only screen and (max-width: 768px) {
      flex: 1;
      border-right: none;
      font-weight: bold;
    }

    flex: 0 1 100px;
    text-align: center;
    border-right: solid 2px #fed136;
    padding: 10px 0;
  }

  &-col {
    flex: 1;
    text-align: left;
    align-self: flex-start;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  &-title {
    @media only screen and (max-width: 768px) {
      color: #fed136;
    }

    font-weight: 700;
    margin-bottom: 20px;
  }

  &-unconf {
    margin-bottom: 20px;
  }

  &-warn {
    font-size: 18px;
    margin-bottom: 20px;

    span {
      margin: 0 auto;
    }
  }
}
