#ytWidget {
  z-index: 2000;
  position: fixed;
  top: 80px;
  left: 24px;
}

.yd-spon-logo {
  width: 180px;
}

.yd-spon-gold {
  width: 260px;
}

.row-top-spacing {
  margin-top: 50px;
}

.sponsor-mobile {
  @media only screen and (max-width: 768px){
    display: block !important;

    .col {
      margin-bottom: 20px;
    }
  }
}

.sponsor-container h2 {
  font-weight: normal;
}

.img-fluid {
  width: 350px;
  height: 350px;
  object-fit: cover;

  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

.cool-text {
  margin-top: 2em;
  font-size: 1.2em;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.cool-text a {
  font-weight: bold;
}
.cool-text tr {
  line-height: 3.5rem;
  border-top: 1px solid #eee;
  border-top-width: 1px;
  width: 80%;
}
.cool-text tr:after {
  content: "";
  bottom: 10px;
  height: 1px;
  width: 40px;
  display: inline-block;
  background: white;
  margin-top: -1px;
}
.cool-text tbody tr:first-child {
  border-top: none;
}

.li-padding {
  padding-top: 5px;
  padding-bottom: 5px;
}

.training-text-container {
  padding: 2em 100px;
  @media only screen and (max-width: 768px) {
    padding: 2em 10px;
  }
}
.register-ticket {
  margin-top: 20px;
}

.btn-grey {
  background-color: $gray-300;
}

.star-icon {


    float: left;
    position: relative;

    &:before {
      content: '';
      background-image: url('../assets/icons/star.png');
      background-size: contain;
      width: 12px;
      height: 12px;
      background-repeat: no-repeat;
      position: absolute;
      left: 3px;
      top: 12px;
    }

  @media only screen and (max-width: 990px) {
    display: none;
  }

}
