<!DOCTYPE html>
<html ng-app="plunker">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!--загружаем jquery чтобы делать лукапы scope-->
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css" />
    <script src="app.js"></script>
</head>

<body ng-controller="MainCtrl">

<div class="panel-group">

    <box>
        Two-way binding
        <input ng-model="someText" />
        <div>Directive scope
            <edit value="someText"></edit>
        </div>
    </box>

    <box>
        One-way from parent scope
        <input ng-model="someText" />
        <div>Directive scope
            <print value="{{someText}}"></print>
        </div>
    </box>

    <box>
        Executing expression in directive
        <input ng-model="someText" />
        <div>Replace this
            <input ng-model="source" style="width: 30px" /> to that
            <input ng-model="target" style="width: 30px" />
        </div>
        <div>Directive scope
            <replace replace-func="customReplace(someText, source, target)"></replace>
        </div>
    </box>

</div>

</body>

</html>